---
// Flashcards list page
import Layout from '../layouts/Layout.astro';
import { FlashcardList } from '../components/flashcards/FlashcardList';
---

<Layout title="Moje fiszki">
  <main class="container mx-auto px-4 py-8">
    <FlashcardList client:load />
  </main>
</Layout>